@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* * {
    @apply m-0 p-0 ;
  } */
  body {
    @apply h-svh w-full;
  }

  #root {
    @apply w-full h-full;
  }
}

/* .signup-img{
  height: 1000px;
} */

#category-p .category-icon {
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7474%) hue-rotate(154deg) brightness(101%) contrast(106%);
}

#category-p:hover .category-icon {
  filter: brightness(0) saturate(100%) invert(99%) sepia(64%) saturate(239%) hue-rotate(280deg) brightness(119%) contrast(100%);
}
